body {
    background: url("img/background.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

#quizz {
    display: none;
}

#end {
    display: none;
}

#startButton {
    width: 100%;
    height: 15vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    color: green;
    font-size: calc(1em + 1vw);
    font-weight: bold;
    padding: 0;
    border: none;
    transition: all .2s ease-in-out;
}

#startButton:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 2px green;
}

#form button {
    width: 100%;
    height: 10vh;
    margin-bottom: 5vh;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0vh 1vh 0vh 1vh;
    border: none;
    font-size: calc(0.9em + 0.2vw);
}

h1{
    font-size: calc(1em + 2vw);
}

#question {
    font-size: calc(1em + 0.5vw);
}

.hoverBtn {
    transition: all .2s ease-in-out;
}

.hoverBtn:hover {
    transform: scale(1.1);
}

#reload {
    padding: 0;
    border: none;
    background: none;
    width: 48px;
    transition: all .2s ease-in-out;
}

#reload:hover {
    transform: scale(1.1);
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}

.line {
    border-top: white solid 3px;
    width: 100%;
}

p {
    font-size: calc(1em + 1vw);
    font-weight: bold;
}

.frame {
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}